<!DOCTYPE html>
<html>
<head>
	<title>Global Code</title>
	<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->
	<!-- for css in a different file-->
	<link rel="stylesheet" href="/static/main.css">
	<link rel="icon" type="image/ico" href="static/waterfall.jpg" />
</head>
<body>

	<p class="thicker">This is a paragraph.

	<form action="/add_todo">
		<label>
			To do list <br/>
			<input type="text" name="item">
		</label>
		<label>
			<input type="submit" value="Submit">
		</label>
	</form>

	<ol>
	{%for items in items%}
	<li>{{items}}</li>
	{%endfor%}
	</ol>

	</p>

</body>
</html>