<html>
	<head>
		<!-- for css in a different file-->
		<link rel="stylesheet" type="text/css" href="/static/main.css">
	</head>
    <body>

    	<!--For css in html-->
    	<style>
    		body {background-color: powderblue;}
			h1   {color: blue;}
			h2	{color: green}
    	</style>

        <h1>Hello from a template!
        This is sooo gonna be fuuuun
    	</h1>

    	<h2>
    		Hello to {{to}}
    		<br/>So this is where it begins <br/>
    		The story of Maabena

    	</h2>
    </body>
</html>
